<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $('#cmd').click(function () {
            var socket = new WebSocket("ws://192.168.2.139:8000/echo_once/");
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
                socket.send($('#h').val());//发送数据到服务端
            };
            socket.onmessage = function (e) {
                console.log('message: ' + e.data);//打印服务端返回的数据
                $('#messagecontainer').prepend('<p><pre>' + e.data + '</pre></p>');
                $('#messagecontainer').prepend('<hr />');
            };
        });
    });
    </script>
</head>
<body>
It is Test index
<br/>
welcome , {{ username }}!
<br/>
<br/>
<form action="../ssh/" method="post">
    <label>------paramiko------</label><br />
    <label for="id">serverid&nbsp;&nbsp;&nbsp;</label>
    <input type="text" name="id"><br />
    <label for="id">command</label>
    <input type="text" name="command"><br />
    <input type="submit">{% csrf_token %}
</form>
<br />

<form action="../ansible/" method="post">
    <label>------ansible shell------</label><br />
    <label>服务器ID&nbsp;&nbsp;</label>
    <input type="text" name="id"><br />
    <label>命令行</label>
    <input type="text" name="args"><br />
    <input type="submit">{% csrf_token %}
</form>

<br />
<form action="../yml/" method="post">
    <label>------ansible yml------</label><br />
    <label>IP地址&nbsp;&nbsp;</label>
    <input type="text" name="ip"><br />
    <label>命令行</label>
    <input type="text" name="args"><br />
    <input type="submit">{% csrf_token %}
</form>
<br />
<br />

<label>------websocket------</label><br />

{#javascript:location.reload();#}

<input name="cmdd" type="text" id="h" value="" placeholder="命令">
<button style="margin: 20px;height: 40px;background-color: #00ff00;" id="cmd" type="submit" value="backup">
    执行命令
</button>
<button style="margin: 20px;height: 40px;background-color: #00ff00;" onclick="location.reload();">清空结果</button>
<h3 style="margin: 20px;">脚本执行结果:</h3>

<div id="messagecontainer" style="margin: 20px;">
</div>


</body>
</html>