{%extends 'base.html' %}

{% block page_title %}
    test
{% endblock %}
{%block page_header%}
    <h1 class="page-header">添加版本发布</h1>
{%endblock%}


{%block page_content%}
{#    <form action="/repo_edit/" action="/repo_edit/{{ id }}/" method="post">#}
    <form action="" method="post">
        {% csrf_token %}
{#    <form  class=repo_edit" action="/repo_edit/{{ repoupgrade.id }}/" method="post"> #}
            {% for field in form %}
                <b>{{ field.label }}：</b>
                {{ field }}
                <br>
            {% endfor %}
        <input type="submit" class="btn btn-success" value="提交">
    </form>
{%endblock%}

